#a{
    background-color:rgb(206, 205, 202);
}
#b{
background-color: rgb(170, 170, 167);
}
#c{
    background-color: rgb(241, 206, 214);
}
#d{
    background-color: rgb(223, 224, 224);

}
#e{
    background-color: rgb(182, 181, 180);

}
#f{
    background-color: rgb(131, 132, 134);

}
#g{
background-color: rgb(218, 201, 215);
}
#h{
    background-color: rgb(157, 160, 157);

}
#i{
background-color: rgb(139, 139, 139);
}